<h1>Your Reservation is as follows:</h1>

<h3>The restaurant is: <%= @reserve.restaurant_id %></h3>
<!-- <h3>The address is: <%# @reserve.address %></h3> -->
<h3>The date is: <%= @reserve.date %></h3>
<h3>The amount of people is: <%= @reserve.people %></h3>
<!-- <h3>Contact email is <%# @user.email %></h3> -->
