p{
  font-size: 30px;
  font-family: sans-serif;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
}

body {
  /*background-color: #becde5;*/
  background-size: 1500px;
  color: white;
  text-align: center;
}

h2 {
  color: white;
}
