p{
  font-size: 30px;
  font-family: sans-serif;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
}

body {
  /*background-color: #becde5;*/
  background-size: 1500px;
  color: black;
  text-align: center;
}

h2 {
  color: white;
}


.restaurant-form {
    position: absolute;
    top: 37%;
    font-family: sans-serif;
    color: white;
    border: 9px solid white;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: 0 25%;
    border-radius: 19px;
}
