// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  background-color: black;
  margin: 0;
  color: white;
  text-align: center;
  font-family: sans-serif;
  height: 100px;
  line-height: 100px;
  letter-spacing: 3px;
}

.reserve {
  text-align: center;
}

.field {
  display: inline-block;
  z-index: 10;
  left: 50%;
}

form#new_reservation {
    position: absolute;
    color: white;
    top: 40%;
    width: 100%;
    height: 10%;
    font-family: sans-serif;
}

.res_info {
  position: absolute;
  top: 37%;
  font-family: sans-serif;
  color: white;
  border: 9px solid white;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: 0 25%;
  border-radius: 19px;
}
