// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  background-color: #01BCFF;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  height: 100px;
  line-height: 100px;
  letter-spacing: 3px;
}

.reserve {
  text-align: center;
}

.field {
  display: inline-block;
  z-index: 10;
  left: 50%;
}

form#new_reservation {
    position: absolute;;
    top: 50%;
    left: 33%;
    font-family: sans-serif;
}
